li {
  list-style: none;
}

.submit-btn {
  width: 2rem;
}

/* header */
.header__icon-group {
  display: flex;
  float: left;
}

.header__icon {
  cursor: pointer;
  margin-right: 50px;
}

/* post-index */
.card__container {
  text-decoration: none;
}

.card__icon-menu {
  
}

.card__edit-link {
  margin: 0 0 0 auto;
  display: inline-block;
}

.card__icon {
  margin-right: 16px;
  cursor: pointer;
}

